! URxvt.font: xft:MesloLGMDZ Nerd Font Mono:size=11
URxvt.font: xft:FiraMono Nerd Font:style=Regular:size=11
URxvt.scrollBar: false
URxvt.letterSpace: -1

*internalBorder: 30
URxvt*borderLess: false


URxvt.iso4755: false
URxvt.iso4755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

*.foreground:  #cfd1dd
*.background:  #0d0d0d
*.cursorColor: #9e9ecb
!
! Black
*.color0:      #161825
*.color8:      #575b73
!
! Red
*.color1:      #e27878
*.color9:      #e27878
!
! Green
*.color2:      #a3be8c
*.color10:     #a3be8c
!
! Yellow
*.color3:      #ebcb8b
*.color11:     #ebcb8b
!
! Blue
*.color4:      #84a0c6
*.color12:     #84a0c6
!
! Magenta
*.color5:      #a093c7
*.color13:     #a093c7
!
! Cyan
*.color6:      #89b8c2
*.color14:     #89b8c2
!
! White
*.color7:      #cfd1dd
*.color15:     #cfd1dd
!
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:

